<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <div class="card-block">
    <div class="form-group">
      <label>Control work name</label>
      <textarea type="text" class="form-control" placeholder="Input control work name" id="cwName" required="true"></textarea>
    </div>
    <div class="form-group">
      <label>Execution time(minutes)</label>
      <input type="number" class="form-control" placeholder="Input execution time of control work" id="executionTime" required="true">
    </div>
<!--    <div class="form-group">-->
<!--      <label>Search: </label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="searchText" required="true" placeholder="Input search text">-->
<!--    </div>-->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Test</th>
        <th class="text-lg-center">Include</th>
      </tr>
      </thead>
      <tbody>
<!--      <tr *ngFor="let test of testName | filter : searchText let idx = index ">-->
      <tr *ngFor="let test of tests let idx = index ">
        <th scope="row">{{idx+1}}</th>
        <td>{{test.question}}</td>
        <td><input type="checkbox" class="form-check" [id]="(idx+1) + 'c'"></td>
        <td class="text-lg-center">
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Open Question</th>
        <th class="text-lg-center">Include</th>
      </tr>
      </thead>
      <tbody>
      <!--      <tr *ngFor="let test of testName | filter : searchText let idx = index ">-->
      <tr *ngFor="let question of questions let idq = index ">
        <th scope="row">{{idq+1}}</th>
        <td>{{question.question}}</td>
        <td><input type="checkbox" class="form-check" [id]="(idq+1) + 'q'"></td>
        <td class="text-lg-center">
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" type="submit" (click)="addTest()">Save</button>
    <button class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
  </div>
</div>
