<div *ngIf="!isLoaded" class="text-center">
  Loading...
</div>
<div *ngIf="isLoaded">
  <div *ngIf="isAddFormVisible">
    <app-control-add (addFormIsVisible)="cancelForm($event)"
                     [currentControlWork]="currentControlWork"
                     (currentControlUpdated)="currentControlUpdated($event)"></app-control-add>
  </div>
  <section class="section">
    <button class="btn btn-success" (click)="createControlWork()" *ngIf="!isAddFormVisible">Create</button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Control works</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Question</th>
                <th class="text-lg-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let controlWork of controlWorks let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td>{{controlWork.theme}}</td>
                <button type="button" class="btn"><i class="fa fa-refresh" (click)="updateControlForm(controlWork)"></i></button>
                <button type="button" class="btn"><i class="fa fa-trash" (click)="deleteControl(controlWork.id)"></i></button>
                <td class="text-lg-center">
                  <a [routerLink]="['/control-work', controlWork.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

