<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Warning!</h2>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want to do this?</h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-dialog" type="submit" (click)="confirmDialog()">Yes</button>
        <button class="btn btn-danger btn-dialog" type="submit" (click)="cancelDialog()">No</button>
      </div>
    </div>
  </div>
  <div *ngIf="isAddFormVisible">
    <app-control-add (addFormIsVisible)="cancelForm($event)"
                     [currentControlWork]="currentControlWork"
                     (currentControlUpdated)="currentControlUpdated($event)"></app-control-add>
  </div>
  <section class="section">
    <button class="btn btn-success btn-success1" (click)="createControlWork()" *ngIf="!isAddFormVisible && loginedUser.isAdmin === 1">Create</button>
    <div *ngIf="!isAddFormVisible" class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Control works</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th colspan="1">Topic</th>
                <th colspan="3">Execution time(minutes)</th>
                <th class="text-lg-center" colspan="2" style="align-content: center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let controlWork of controlWorks let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td colspan="1">{{controlWork.theme}}</td>
                <td align="center" colspan="3">{{controlWork.executionTime}}</td>
                <td colspan="1">
                <button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-refresh" (click)="updateControlForm(controlWork)"></i></button>
                <button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-trash" (click)="deleteControl(controlWork.id)"></i></button>
                </td>
                <td colspan="1" class="text-lg-center">
                  <a [routerLink]="['/control-work', controlWork.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

