<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <div class="card-block">
    <div class="form-group">
      <label>Appoint control work for {{currentGroup.group}} group</label>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th colspan="1">Topic</th>
        <th colspan="1" class="text-lg-center">Appoint</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let control of controlWorks let idx = index">
        <th scope="row">{{idx+1}}</th>
        <td colspan="1">{{control.theme}}</td>
        <td colspan="1"><input type="checkbox" class="form-check" [id]="(idx+1)"></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-success" type="submit" (click)="toAppoint()">Save</button>
    <button class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
  </div>
</div>
