aside.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

nav.menu {
  height: 100%;
  background-color: rgba(254, 94, 62, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  height: 100%;
  width: 200px;
  top: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}


div.sidebar-header {
  background-image: url("https://pbs.twimg.com/profile_images/875212307810230272/RsXnUQ-5.jpg");
  height: 10vh;
  background-size: 100% 100%;

}

li {
  height: 50px;
  display: block;
  width: border-box;
}

.metismenu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.metismenu li:hover{
  background-color: #d30d0e;

}

.metismenu a:hover{
  color: #fea989;
}



