aside.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

nav.menu {
  height: 100%;
  background-color: #f1841b;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  height: 100%;
  width: 200px;
  top: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}


div.sidebar-header {
  height: 10vh;
  background-size: 100% 100%;
}

li {
  height: 50px;
  display: block;
  width: border-box;
}

.metismenu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}

.metismenu li:hover{
  background-color: #d33200;

}

.metismenu a:hover{
  color: #fea989;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}



