div.sidebar-container {
  height: 100%;
}

aside.sidebar {
  height: 100%;
}

div.sidebar-header {
  height: 15vh;
}

nav.menu {
  height: 80vh;
  top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 94, 62, 0.5);
}

ul {
  height: 100%;
  width: 250px;
  top: 15vh;
  display: block;
  justify-content: center;
  align-items: center;
}

li.active {
  display: block;
  width: border-box;
}

div.brand {
  background-image: url("/val.png");
  height: 15vh;
  background-size: contain;

}
