.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #B23121;
  color: #fff;
  margin-bottom: 10px;
}

.card-title .mt-3 .text-center {
  margin-bottom: 10px;
}

.btn-block {
  margin-top: 5px;
  margin-bottom: 10px;
}

.divider-text .form-control {
  margin-top: 5px;
  margin-bottom: 8px;
}

.card-body {
  height: max-content;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 25px;
  position: relative;
  top: 13vh;
}

.btn-default {
  margin-top: 30px;
  margin-bottom: 5px;
  background-color: #fe5e3e;
  border-color: #fe5e3e;
  color: #fff;
}

#header {
  height: 8vh;
  width: 100%;
  background-color: #fe5e3e;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;

}


