<div class="text-center" *ngIf="!isLoaded">
  Loading...
</div>
<div *ngIf="isLoaded">
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/groups']"><i class="fa fa-arrow-left"></i></a>
      Group № {{currentGroup.group}}
      <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card-success">
          <div class="card-header">
            <div class="header-block">
              <p class="title">
                Group
              </p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>Faculty: <strong>{{currentGroup.faculty}}</strong></li>
              <li>Number of group: <strong>{{currentGroup.group}}</strong></li>
              <li>Students:
                <ul>
                  <li *ngFor="let student of studentsOfCurrentGroup; let idx = index">
                    {{idx+1}}: <strong>{{student.name}}</strong>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
