form {
  width: max-content;
  height: max-content;
  border-radius: 25px;
  padding: 15px;
  margin: 10px auto;
}


input.form-control.box {
  padding: 0;
  display: inline;
  width: 15px;
  bottom: 0;
  margin-left: 5px;
  float: right;
}

div.form-group.correct-answer {
  height: 100%;
  bottom: 0vh;
  display: flex;
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
  align-items: center;
  float: right;
}

label {
  display: inline-block;
}

