<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <section class="section">
    <div *ngIf="isUpdateFormVisible">
      <app-users-update [users]="users"
                        [currentUser]="currentUser"
                        (updateFormIsVisible)="cancelForm($event)"
                        (userUpdated)="userUpdated($event)"
      ></app-users-update>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All users</h3>
            </div>
<!--            <div class="form-inline pull-right m-r-2">-->
<!--              <div class="form-group">-->
<!--                <input type="email" class="form-control" placeholder="Finding...">-->
<!--              </div>-->
<!--              <div class="btn-group" appDropdown>-->
<!--                <button type="button" class="btn btn-secondary dropdown-toggle">-->
<!--                  Param-->
<!--                </button>-->
<!--                <div class="dropdown-menu">-->
<!--                  <a class="dropdown-item" href="#">Action</a>-->
<!--                  <a class="dropdown-item" href="#">Another action</a>-->
<!--                  <a class="dropdown-item" href="#">Something else here</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item" href="#">Separated link</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th colspan="1">Name</th>
                <th colspan="1">Email</th>
                <th colspan="1" *ngIf="loginedUser.isAdmin === 1">Role</th>
                <th colspan="1">Group number</th>
                <th colspan="2" class="text-lg-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td colspan="1">{{user.name}}</td>
                <td colspan="1">{{user.email}}</td>
                <td colspan="1" *ngIf="loginedUser.isAdmin === 1">{{user.isAdmin === 1 ? 'Admin' : user.isAdmin === 2 ? 'Teacher': 'Student'}}</td>
                <td colspan="1">{{user.numberOfGroup}}</td>
                <td colspan="1">
                  <button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-refresh" (click)="updateUserForm(user)"></i></button>
                  <button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-trash" (click)="deleteUser(user.id)"></i></button>
                </td>
                <td colspan="1" class="text-lg-center">
                  <a [routerLink]="['/user', user.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
