<div *ngIf="!isLoaded" class="text-center">
  Loading...
</div>
<div *ngIf="isLoaded">
  <div *ngIf="isAddFormVisible">
    <app-testing-add [currentTest]="currentTest"
                     (addFormIsVisible)="cancelForm($event)"
                     (newTestAdded)="newTestAdded($event)"
    ></app-testing-add>
  </div>
  <section class="section">
    <button class="btn btn-success" (click)="addTestForm()" *ngIf="!isAddFormVisible">Add</button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Tests</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Question</th>
                <th class="text-lg-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let test of tests let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td>{{test.question}}</td>
                <button type="button" class="btn"><i class="fa fa-refresh" (click)="updateTestForm(test)"></i></button>
                <button type="button" class="btn"><i class="fa fa-trash" (click)="deleteTest(test.id)"></i></button>
                <td class="text-lg-center">
                  <a [routerLink]="['/tests', test.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

