<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Warning!</h2>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to do this?</h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-dialog" type="submit" (click)="confirmDialog()">Yes</button>
      <button class="btn btn-danger btn-dialog" type="submit" (click)="cancelDialog()">No</button>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <div *ngIf="isAddFormVisible">
    <app-testing-add [currentTest]="currentTest"
                     (addFormIsVisible)="cancelForm($event)"
                     (newTestAdded)="newTestAdded($event)"
    ></app-testing-add>
  </div>
  <section class="section">
    <button class="btn btn-success btn btn-success1" (click)="addTestForm()" *ngIf="!isAddFormVisible">Add</button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Tests</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th colspan="1">Question</th>
                <th class="text-lg-center" colspan="2">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let test of tests let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td colspan="1">{{test.question}}</td>
                <td colspan="1">
                <button type="button" class="btn"><i class="fa fa-refresh" (click)="updateTestForm(test)"></i></button>
                <button type="button" class="btn"><i class="fa fa-trash" (click)="deleteTest(test.id)"></i></button>
                </td>
                <td colspan="1" class="text-lg-center">
                  <a [routerLink]="['/tests', test.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

