<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Warning!</h2>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want to do this?</h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-dialog" type="submit" (click)="confirmDialog()">Yes</button>
        <button class="btn btn-danger btn-dialog" type="submit" (click)="cancelDialog()">No</button>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="isExpectedControlWorkEmpty" style="margin: 10px">
          <h2>There isn`t any control works in close time.</h2>
        </div>
        <div class="card" *ngIf="!isExpectedControlWorkEmpty">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">Control works</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th colspan="1">Name</th>
                <th colspan="1">Execution time(minutes)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let controlWork of controlWorks let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td colspan="1">{{controlWork.theme}}</td>
                <td align="center" colspan="1">{{controlWork.executionTime}}</td>
                <td colspan="1" class="text-lg-center">
                  <a (click)="start(controlWork)" class="btn btn-primary-outline">Start</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

