<div class="text-center" *ngIf="!isLoaded">
  Loading...
</div>
<div *ngIf="isLoaded">
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/tests']"><i class="fa fa-arrow-left"></i></a>
      Test № {{testModel.id}}
      <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card-success">
          <div class="card-header">
            <div class="header-block">
              <p class="title">
                Title
              </p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>Question: <strong>{{testModel.question}}</strong></li>
              <li *ngFor="let answer of testModel.answers let idx = index">Answers:
                <strong>{{idx+1}}: {{answer}}</strong>
              </li>
              <li *ngFor="let correctAnswer of testModel.correctAnswers let idx = index">Correct answer:
                <strong>{{correctAnswer}}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




