<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Warning!</h2>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to do this?</h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-dialog" type="submit" (click)="confirmDialog()">Yes</button>
      <button class="btn btn-danger btn-dialog" type="submit" (click)="cancelDialog()">No</button>
    </div>
  </div>
</div>
<div id="myModal1Forbidden" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Warning!</h2>
    </div>
    <div class="modal-body">
      <h3>You cannot delete this group until it contains at least 1 student.</h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-dialog" type="submit" (click)="cancelDialogF()">Ok</button>
    </div>
  </div>
</div>
<div id="myModalAdd" class="modal">
  <div class="modal-contentAdd">
    <div class="modal-bodyAdd">
      <div *ngIf="isAddFormVisible">
        <app-groups-add [groups]="groups"
                        [currentGroup]="currentGroup"
                        (addFormIsVisible)="cancelForm($event)"
                        (newGroupAdded)="newGroupAdded($event)"
        ></app-groups-add>
      </div>
    </div>
  </div>
</div>
<div id="myModalAddApp" class="modal">
  <div class="modal-contentAddApp">
    <div class="modal-bodyAdd">
      <div *ngIf="isAppointFormVisible">
        <app-appoint-control-work [groups]="groups"
                                  [currentGroup]="currentGroup"
                                  (appointFormIsVisible)="cancelAppointForm($event)"
                                  (groupAppointed)="groupAppointed($event)"
        ></app-appoint-control-work>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded" class="text-center1">
  <app-loader></app-loader>
</div>
<div @fade *ngIf="isLoaded">
<!--  <div *ngIf="isAppointFormVisible">-->
<!--    <app-appoint-control-work [groups]="groups"-->
<!--                    [currentGroup]="currentGroup"-->
<!--                    (appointFormIsVisible)="cancelAppointForm($event)"-->
<!--                    (groupAppointed)="groupAppointed($event)"-->
<!--    ></app-appoint-control-work>-->
<!--  </div>-->
  <section class="section">
    <button class="btn btn-success btn btn-success1" (click)="addGroupForm()" *ngIf="(!isAddFormVisible && loginedUser.isAdmin === 1) && !isAppointFormVisible">Add</button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bordered">
            <div class="header-block">
              <h3 class="title">All groups</h3>
            </div>
          </div>
          <div class="card-block">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th colspan="1">Faculty</th>
                <th colspan="1">Group</th>
                <th class="text-lg-center" colspan="3">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let group of groups let idx = index">
                <th scope="row">{{idx+1}}</th>
                <td colspan="1">{{group.faculty}}</td>
                <td colspan="1">{{group.group}}</td>
                <td colspan="1"><button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-refresh" (click)="updateGroupForm(group) "></i></button>
                <button *ngIf="loginedUser.isAdmin === 1" type="button" class="btn"><i class="fa fa-trash" (click)="deleteGroup(group.id)"></i></button>
                </td>
                <td class="text-lg-center" colspan="1">
                  <button *ngIf="loginedUser.isAdmin === 1" (click)="toAppointForm(group)" class="btn btn-primary-outline">Appoint</button>
                </td>
                <td class="text-lg-center" colspan="1">
                  <a [routerLink]="['/group', group.id]" class="btn btn-primary-outline">Open</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
