<div id="myModalSide" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Warning!</h2>
    </div>
    <div class="modal-body">
      <h3>Are you sure you want to do this?</h3>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-dialog" type="submit" (click)="confirmDialog()">Yes</button>
      <button class="btn btn-danger btn-dialog" type="submit" (click)="cancelDialog()">No</button>
    </div>
  </div>
</div>
<header class="header">
  <div class="header-block header-block-search col-md-12">
    <a>{{date | date: 'dd.MM.yyyy'}}</a>
    <div class="header-block header-block-nav">
      <ul class="nav-profile">
        <li class="profile dropdown" appDropdown [ngClass]="{'open': true}">
         <!-- <a class="nav-link dropdown-toggle" role="button"> -->
            <a class="name">
              Hello, {{user.name}}
            </a>
            <button [disabled]="this.accessDuringControlWorkService.getIsWriteControlWork() ? true: null" type="button" class="btn" (click)="onLogout()">
              <i class="fa fa-sign-out"></i>
            </button>
        <!--  </a> -->
          <div class="dropdown-menu profile-dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/users']">
              <i class="fa fa-gear icon"></i>Сделать запись
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout()">
              <i class="fa fa-power-off icon"></i>Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>








