div {
  color: white;
}

header {
  height: 15vh;
  background-color: rgba(254, 94, 62, 0.4);
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 200px;
  align-items: center;
}

div.header-block-search {
  height: 15vh;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  height: 15vh;
  position: absolute;
  width: max-content;
  right: 10px;
  display: flex;
  align-items: center;
}
