 <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">{{groupOfLoginedUser.group}}</h3>
    </div>
 </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th *ngFor="let controlWork of groupOfLoginedUser.expectedControlWorks; let idx = index">
<!--          {{controlWork.theme}}: {{maxScores[idx]}}-->
          {{controlWork.theme}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users let idx = index">
        <th scope="row">{{idx+1}}</th>
        <td>{{user.name}}</td>
        <td *ngFor="let controlWork of groupOfLoginedUser.expectedControlWorks; let idx1 = index">
          <span *ngIf="scoresForAllControlWorksOfAllUsers[idx][idx1] === -1;else second">
            didn`t write
          </span>
          <ng-template #second>
            <span *ngIf="scoresForAllControlWorksOfAllUsers[idx][idx1] === -2;else third">
              not verified
            </span>
            <ng-template #third>
              <span>
                {{scoresForAllControlWorksOfAllUsers[idx][idx1]}}
              </span>
            </ng-template>
          </ng-template>
          <button *ngIf="loginedUser.isAdmin === 1 && scoresForAllControlWorksOfAllUsers[idx][idx1] !== -1"
                  class="btn fa fa-check-circle-o" (click)="checkControlWork(idx, idx1)"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
