/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
}

html {
  height: 100%;
}

div {
  height: 100%;
  margin-left: 0;
}

div .input-group-prepend {
  height: 38px;
}
span {
  height: 100%;
}

app-login {
  height: 100%;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
  align-items: center;
}

app-registrotion {
  height: 100%;
  bottom: 0vh;
  top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: white;
  margin-bottom: 0px;
}

app-auth {
  height: 100%;
  border: 0px;
  align-items: center;
}

article {
  height: 100%;
  border: 0px;
}

app-root {
  height: 100%;
}/* You can add global styles to this file, and also import other style files */


app-sidebar {
  width: 200px;
  display: block;
  float: left;
  margin: 0 0 0 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

app-system {
  height: 100%;
}

app-users {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
}

.row {
  margin-left: 0;
}

