article.dashboard-page {
  position: absolute;
  left: 200px;
  top: 10vh;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  text-align: left;
}

