<!--<div class="modal fade in">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close">-->
<!--          <span>×</span>-->
<!--        </button>-->
<!--        <h4 class="modal-title">Фильтр</h4>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="form-group input-group">-->
<!--          <input class="form-control" placeholder="Question" type="text">-->
<!--        </div>-->
<!--        <div class="form-group input-group" *ngFor="let key of count | myCount">-->
<!--          <input class="form-control" placeholder="Answer" type="text" [value]="key">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div @fade class="container">
  <div class="row justify-content-center">
    <div >
      <form #form="ngForm">
        <div class="form-group" #question>
          <label>Question</label>
          <textarea type="text" class="form-control" placeholder="Input question" id="question"
                    ngModel name="question" required></textarea>
        </div>
        <div class="form-group" *ngFor="let number of count | myCount; let idx = index" #answer>
          <label>Answer #{{number}}</label>
          <div class="form-group correct-answer">
            <label>Correct answer </label>
            <input type="checkbox" class="form-control box" [id]="number+'c'">
          </div>
          <textarea  type="text" class="form-control" placeholder="Input answer" [id]="number" required></textarea>
        </div>
<!--        <div class="form-group correct-answer" *ngFor="let number of count | myCount; let idx = index" #correctAnswer>-->
<!--          <label>Correct answer #{{number}}</label>-->
<!--          <input type="checkbox" class="form-control box" [id]="number+'c'">-->
<!--        </div>-->
        <button type="button" class="btn btn-primary" (click)="addAnswer()">Add answer</button>
        <button type="button" class="btn btn-warning" (click)="deleteAnswer()">Delete answer</button>
<!--        <div class="radio" *ngFor="let answer of answers">-->
<!--          <label>-->
<!--            <input type="radio" [value]="answer.type" name="answer" formControlName="answer"> {{answer.text}}-->
<!--          </label>-->
<!--        </div>-->
        <button class="btn btn-success" type="submit" [disabled]="form.invalid || (count === 1)" (click)="addUpdateTest()">Save</button>
        <button class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
        <p *ngIf="form.invalid">All field have not to be empty</p>
      </form>
    </div>
  </div>
</div>





